.sub-details {
  font-size: 20px;
  background-color: lightblue;
  width: 600px;
  padding: 10px 35px 30px 35px;
  margin-left: 200px;

  margin-bottom: 20px;
}
/*
img {

}*/

.first-row {


}

.second-row{

}

.text-left {
  float:left
}

.text-right {
  float:right
}

.text-middle {
  position: center,
}
